.header__nav{
    display: flex;
    width: 100% ;
}

.header__logo{
    width: 20% ;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.01);
    border-radius: 8px 0 0 8px;

}
.header__list{
    width: 80% ;
    padding: 16px 0;
    display: flex;
    justify-content: center;
    column-gap: 60px;
    background: #444444;
    border-radius: 0 8px 8px 0;

}

.header__item{
    font-family: 'Inter',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
}


